/*  ========================================================================  *\
    U T I L - D I S P L A Y
\*  ========================================================================  */


.u-flex {
    display:          flex;
    justify-content:  center;
    align-items:      center;
}