/*  ========================================================================  *\
    F I N A L S C R E E N
\*  ========================================================================  */


.FinalScreen {
    position:          absolute;
    display:           flex;
    flex-direction:    column;
    justify-content:   center;
    align-items:       center;
    
    width:             1fr;
    height:            auto;
    top:               0;
    left:              0;

    background-color:  rgba(255, 255, 255, 1);
    color:             rgba(139, 0, 0, 1);

    transition:        opacity 500ms ease-in;

    opacity:           0;
    z-index:           200;
}

.FinalScreen--open {
    height:   100vh;
    opacity:  1;
}

.FinalScreen dt {
    margin:  0vh 1vh 0vh 3vh;
}