/*  ========================================================================  *\
    U S E R S T A T S
\*  ========================================================================  */

/*  ========================================================================  *\
    8 K  -  4 K  -  F H D
\*  ========================================================================  */

.UserStats {
    width:    auto;  
    height:   auto;
}

dl {
    display:          flex;
    flex-direction:   row;
    justify-content:  space-between;
}

dt, dd {
    font-size:    3.5vh;
    line-height:  7vh;
    font-weight:  bolder;
    text-align:   center;
}


/*  ========================================================================  *\
    T A B L E T  -  H D
\*  ========================================================================  */

@media(max-width: 1025px) {
    .UserStats {
        width:    auto;  
        height:   auto;
    }
    
    dl {
        display:          flex;
        flex-direction:   row;
        justify-content:  space-between;
    }
    
    dt, dd {
        font-size:    3.5vh;
        line-height:  7vh;
        font-weight:  bolder;
        text-align:   center;
    }
}


/*  ========================================================================  *\
    M O B I L  P H O N E
\*  ========================================================================  */

@media(max-width: 768px) {
    .UserStats {
        width:    auto;  
        height:   auto;
    }
    
    dl {
        display:          flex;
        flex-direction:   row;
        justify-content:  space-between;
    }
    
    dt, dd {
        font-size:    2.5vh;
        line-height:  5vh;
        font-weight:  bolder;
        text-align:   center;
    }
}