/*  ========================================================================  *\
    R O O T  S I Z E

    *    Change this to increase/decrease puzzle size

\*  ========================================================================  */

/*  ========================================================================  *\
    8 K  -  4 K  -  F H D
\*  ========================================================================  */

:root {
    --size: 70vh;
}


/*  ========================================================================  *\
    T A B L E T  -  H D
\*  ========================================================================  */

@media(max-width: 1025px) {
    :root {
        --size: 65vh;
    }
}


/*  ========================================================================  *\
    M O B I L  P H O N E
\*  ========================================================================  */

@media(max-width: 768px) {
    :root {
        --size: 45vh;
    }
}